*
!.gitignore
!map/
!map/**
!memory/
memory/*
!memory/records/
!memory/records/**
!memory/documents/
!memory/documents/**
!memory/binding.json
!asgard-setting-project.json
!MANUAL.md
!CUSTOM_MANUAL.md
!CUSTOM.md
!RULES.md
!manual/
!manual/**
